<link href="/stylesheets/contactContainer.css" rel="stylesheet" />
<%- include ("../../public/scripts/contactContainer.ejs")%>


<div class="container">
    <div class="centerContentContainer">
        <span class="centerContent status">    </span>
    </div>

    <div class="centerContentContainer">
        <p class="contactName centerContent">
            <%= contato.nome%>
        </p>
    </div>
    <div class="centerContentContainer newMessageContainer">
        <p class="centerContent">0</p>
    </div>
    <div class="centerContentContainer newConversation">
        <a style="font-weight: bold" class="centerContent" onclick="startNewConversation()"> > </a>
    </div>

</div>
