<link href="/stylesheets/contactContainer.css" rel="stylesheet" />
<%- include ("../../public/scripts/contactContainer.ejs")%>


<div class="container">
    <div style="margin-top: 5px">
        <span class="status">    </span>
    </div>

    <div class="contactName">
        <p>
            <%= contato.nome%>
        </p>
    </div>
    <div class="newMessagesContainer">
        <p class="newMessage">0</p>
    </div>
    <div class="newConversation">
        <p style="font-weight: bold"> > </p>
    </div>

</div>
